{% extends "base.html" %}

{% block title %}Página de Administração{% endblock title %}

{% block container %}

    <h1 class="mort">Pedidos</h1>
    <div class="cliente">
        {% for i in pedidos %}
            <div class="abib">
                <b>{{ i["descricao"] }}</b>
                <p class="redd" >Status: {{ i["status"] }}</p>
                    {% for k,j in get_adress_by_cep(i.destinatario).items() %}
                    <li class="redd">
                        {{k}} : {{j}}
                    </li>    
                    {% endfor %}
                <p class="redd">Entregador: {{ i["entregador"] }}</p>
                <p class="redd">ID: {{ i["id"] }}</p>

                <a href="/editdelivery/{{i.id}}">
                    <button class="ccl">Editar entrega</button>
                </a>
            </div>
        {% endfor %}
    </div>
    <h1 class="mort">Usuários</h1>
    <div class="cliente">
        {% for cpf, usuario in usuarios.items() %}

            <div class="obrigado">
                <b>{{ usuario["nome"] }}</b>
                <br> <br>
                <li>CPF: {{ cpf }}</li>
                <br>
                <li>Email: {{ usuario["email"] }}</li>
                <br>
                <li>Telefone: {{ usuario["tel"] }}</li>
                <br>
                <br>
                <br>
                <br>
                <a href="/editprofile/{{cpf}}">
                    <button class="ccl">Editar Perfill</button>
                </a>
            </div>

        {% endfor %}
    </ul>

{% endblock container %}
