{% extends "base.html" %}

{% block title %}Index?{% endblock title %}

{% block container %}

<div class="corpinho">
    <div class="container">
        <h1>Editar Entrega</h1>
        <form class="form1" action="/editdelivery/{{eID}}" method="POST">
            <label class="lamb">Clientee:</label>
            <input type="text" name="cliente" value="{{entrega.cliente}}" hidden>

            <input type="text" name="aaaaa" value="{{entrega.cliente}}" disabled>
            <input type="hidden" name="aaaaa" value="{{entrega.cliente}}">
            <label class="lamb">Status:</label>
            <select class="aaaa" name="status" {% if user != "adm" %}disabled{% endif %}>
                <option value="deliverying" {% if entrega.status == 'deliverying' %}selected{% endif %}>deliverying</option>
                <option value="delivered" {% if entrega.status == 'delivered' %}selected{% endif %}>delivered</option>
                <option value="confirmed" {% if entrega.status == 'confirmed' %}selected{% endif %}>confirmed</option>
            </select>    
            <input type="hidden" name="status" value="{{entrega.status}}">
            
            <label class="lamb">Destinatário:</label>
            <input type="text" name="destinatario" value="{{entrega.destinatario}}">

            <label class="lamb">Descrição:</label>
            <input type="text" name="descricao" value="{{entrega.descricao}}">

            <label class="lamb">Entrega</label>
            <input type="text" name="entregador" value="{{entrega.entregador}}" {% if user != "adm" %}disabled{% endif %}>
            <input type="hidden" name="entregador" value="{{entrega.entregador}}">
            <div class="botao_bo">
                <div class="meubotao2">
                    <button class="titi" type="submit" >Salvar</button>
                    <button class="fifi" type="reset" >Limpar</button>
                </div>
            </div>
        </form>
        {% if user == "adm" %}
            <form class="form2" action="{{url_for('delete_delivery')}}" method="POST">
                <input type="hidden" name="id" value="{{entrega.id}}">
                <button class="flask">&#9746; Deletar do Sistema</button>
            </form>
        {% endif %}
    </div>
</div>





<!--{% endblock container %}-->