{% extends "base.html" %}

{% block title %}Página de Login{% endblock title %}

{% block container %}


<title>Faça Loginn</title>
<div class="aquiles">
    <form class="aaaa1" action="{{url_for('login')}}" method="POST" >
        <h1>Faça seu Login</h1>
        <div class="s">
            <label for="#">CPF</label>
            <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00">
        </div>
        <div class="l">
            <label  for="#">Senha</label>
            <input type="password" name="password" id="password" placeholder="Senha:">
        </div>
        <button class="socorro" type="submit">Login</button>
    </form>
</div>

{% endblock container %}